 .a{
     text-decoration: none; /* 기본 밑줄 제거 */
      color: black; /* 링크 색상 변경 */

 }

body {

        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }
    .header {
        text-align: center;
        color: white;
    }
    .login-btn, .signup-btn {
        position: absolute;
        right: 120px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ff6347;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }
    .signup-btn {
        right: 20px;
        background-color: #4682b4;
    }
    .login-btn:hover, .signup-btn:hover {
        background-color: #ff4500;
    }
    .signup-btn:hover {
        background-color: #1e90ff;
    }
    .banner {
        background-color: #444;
        color: white;
        text-align: center;
        padding: 40px 20px;
        margin-bottom: 20px;
    }


    .sidebar {
        width: 15%;
        padding: 20px;
        background-color: white;
        margin-right: 20px;
        border-radius: 8px;
        min-height: 100vh; /* 페이지 전체 높이에 맞춰 확장 */
        box-sizing: border-box;
    }

    .product-view .list-div {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-top: 0; /* 불필요한 상단 간격 제거 */
    }

 .content {
     width: 80%; /* 콘텐츠 너비 확장 */
     margin-left: 5%;
 }

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    align-items: flex-start; /* 사이드바와 콘텐츠의 높이 독립 */
    margin-bottom:20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 아이템 간의 간격을 일정하게 유지 */
    width: calc(100% - 20px); /* 사이드바 옆으로 일정한 간격 유지 */
    align-content: flex-start;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px 10px;
    transition: transform 0.2s;
    width: 240px; /* 고정 너비 설정 */
    height: 250px; /* 고정 높이 설정 */
}

.product-item h3 {
        margin: 0;
        width : 200px;
        overflow: hidden;
        text-overflow: ellipsis;
}

 .product-item:hover {
     transform: translateY(-5px);
 }

 .product-item img {
     max-width: 100%;
     height: auto;
     border-radius: 5px;
     margin-bottom: 15px;
 }

 .product-item a {
     text-decoration: none; /* 기본 밑줄 제거 */
     color: black; /* 링크 색상 변경 */
 }

 /* 마우스를 올렸을 때 스타일 */
 .product-item a:hover {
     text-decoration: none; /* 밑줄 추가 */
 }

 html {
     overflow-y: scroll; /* 스크롤바 항상 표시 */
 }



